body {
	background-color : black; 
}

#cross {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
}

#bloc {
	text-align : center;
	background-color : white;
	margin-right : 340px;
	margin-left : 326px;
	margin-top : 156px;
	padding-top : 57px;
	padding-bottom : 43px;
	position : relative;
}


h1 {
	font-family : 'Roboto', sans-serif; 
	font-size : 59px;
	margin-bottom : -23px;
	margin-top: 15px;
}

h3 {
	font-family : 'Open Sans', sans-serif;
	font-size : 28px;
}

input {
	width : 564px;
	border-radius : 9px; 
	height : 50px;
}

input::placeholder {
	text-align : center;
	font-family : 'Open Sans', sans-serif;
	font-style : italic;
	font-size : 20px;
}

button {
	background-color : #00852c;
	color : white;
	width : 578px;
	border-radius : 9px; 
	height : 60px;
	margin-top : 8px;
	margin-bottom : 20px; 
	font-weight : bold;
	font-size : 26px; 
}

a {
	font-family : 'Open Sans', sans-serif;
	font-style : italic;
	color : black;
	text-decoration :dashed underline ;
	font-size : 20px;
}


@media only screen and (max-width: 1000px) {
  button {
  	font-size : 20px;
  }

  h1 {
  	font-size: 45px;
  	padding: 20px;
  	margin-bottom : -40px; 
  }

  h3 {
  	padding: 20px;
  	margin-bottom : -1px; 
  }

  a {
  	font-size: 20px;
  	padding: 10px;
  	line-height: 10px;
  }
}




