body {
	background-color: #0984e3;
}


h1 {
	text-align: center;
	color: #ee5253;
	text-shadow: 
		#000000 1px 1px, 
		#000000 -1px 1px, 
		#000000 -1px -1px, 
		#000000 1px -1px; 
}

.bloc {
	border: solid 2px black;
	border-radius: 10px;
	width: 300px;
	margin: auto;
	height: 250px;
	padding: 50px;
	margin-top: 100px;
	background-color: #596275;
}

#display {
	padding: 15px;
	width: 250px;
	border: solid 2px black;
	margin: auto;
	border-radius: 5px;
	background-color: #1dd1a1;
	font-family: 'Press Start 2P', cursive;
}

.inputs {
	margin-top: 40px;
	margin-bottom : 40px;
	display: flex;
}

.inputs input{
	padding: 5px;
	text-align: center;
	margin-left: 7px;
}

.buttons {
	display: flex;
}

.buttons button {
	margin: 10px;
	padding: 5px;
	width: 25px;
	border-radius: 5px;
	margin-left: 35px;
	background-color: #dfe4ea;
}

span {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
	.bloc {
		padding: 30px;
	}
}