body{
	text-align: center;
	background-color: #FFC312;
	font-family: 'Graduate', cursive;

}

h1 {
	text-align : center;
	font-size: 50px
}
.divTable{
	display : table;
	width: 100%;

}

.divTableHead{
	display : table-cell;
	padding : 3px 10px;
}

.divTableCell{
	display : table-cell;
	padding : 3px 10px;
}

.divTableCell img{
	width : 10%;
}

.divTableHeading{
	display: table-header-group;
}

.divTableRow{
	display : table-row;
}

.divTable , .divTableHead , .divTableCell{
	border : 2px solid black;
}

#tbody {
	display: table-row-group;
}

#display {
	padding : 20px;
	display : block;
	border : solid 10px black;
	border-radius: 20px;
}

#image {
	margin: auto;
	border:solid 10px black;
	border-radius: 20px;
	display : block;
}

button {
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 5px black;
	border-radius: 10px;
	width: 120px;
    height: 50px;
    font-family: 'Graduate', cursive;
    font-size:30px;
}

a{
	color : blue;
}


